.card {
  width: 200px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  margin: 5px;
  text-align: left;
  background-color: white;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.age {
  font-size: 20px;
  font-style: italic;
}
.gender{
  font-size: 20px;
  font-style: italic;
}
